@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Khula", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(185, 199, 199);
  position: relative;
}

.heading {
  text-align: center;
  height: 58px;
  padding-top: 25px;
  font-size: 27px;
}

.card-container{
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:50px
}

.card {
  background-color: rgb(131 131 131);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px;
  width: 700px;
}
.card h2 {
  font-size: 20px;
  /* padding: 8px 10px; */
  margin-bottom: 5px;
}

.card .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 17px;
}

.card a {
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form input {
  width: 400px;
  height: 25px;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
}

.pagination-btn {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.pagination-btn .btn {
    width: 70px;
    height: 38px;
    background-color: darkgray;
    border-radius: 5px;
}

.pagination-btn p {
    margin: 0px 13px;
    font-size: 21px;
}

.loader{
position: absolute;
top:50%;
left: 45%;
}

@media only screen and (max-width: 790px) {
  .card {
   width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
   width: 200px;
  }

  .search form input {
    width: 270px;
  }
}